In [1]:
import numpy as np
import pandas as pd
np.random.seed(1)

In [3]:
full_labels = pd.read_csv('LA_labels.csv')

In [4]:
full_labels.head()

,filename,width,height,class,xmin,ymin,xmax,ymax
0,los_angeles_dodgers_292.jpeg,285,177,LA dodgers,77,3,138,45
1,los_angeles_dodgers_286.jpg,640,431,LA dodgers,166,6,404,108
2,los_angeles_dodgers_279.jpg,275,235,LA dodgers,166,3,214,39
3,los_angeles_dodgers_251.jpg,3286,3600,LA dodgers,1514,235,2343,830
4,los_angeles_dodgers_245.jpg,526,225,LA dodgers,50,11,93,44

In [5]:
grouped = full_labels.groupby('filename')

In [6]:
grouped.apply(lambda x: len(x)).value_counts()

1    262
2     19
6      2
4      2
3      2
7      1
5      1
dtype: int64

### split each file into a group in a list

In [7]:
gb = full_labels.groupby('filename')

In [8]:
grouped_list = [gb.get_group(x) for x in gb.groups]

In [9]:
len(grouped_list)

289

In [10]:
train_index = np.random.choice(len(grouped_list), size=203, replace=False)
test_index = np.setdiff1d(list(range(289)), train_index)

In [11]:
len(train_index), len(test_index)

(203, 86)

In [12]:
# take first 200 files
train = pd.concat([grouped_list[i] for i in train_index])
test = pd.concat([grouped_list[i] for i in test_index])

In [13]:
len(train), len(test)

(239, 99)

In [14]:
train.to_csv('train_labels.csv', index=None)
test.to_csv('test_labels.csv', index=None)